* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Outfit", sans-serif;
  background-image: url("../src/images/backs.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
  display: block;
  margin: 10% auto;
  background-color: hsl(212, 45%, 89%);
  width: 1000px;
  height: 500px;
  position: relative;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.1),
    0 6px 20px 0 rgba(0, 0, 0, 0);
  border: 2px;
  border-radius: 10px;
}

.App-header {
  background-color: hsl(0, 0%, 100%);
  width: 200px;
  height: fit-content;
  border: 2px;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.App-logo {
  width: 100%;
  border: 2px;
  border-radius: 8px;
}
h1 {
  font-size: 13px;
  text-align: center;
  margin: 15px 0 15px 0;
}
p {
  font-size: 11px;
  text-align: center;
  margin-bottom: 10px;
}

@media only screen and (max-width: 376px) {
  .App {
    display: block;
    background-color: hsl(212, 45%, 89%);
    width: auto;
    position: relative;
    box-shadow:
      0 4px 8px 0 rgba(0, 0, 0, 0.1),
      0 6px 20px 0 rgba(0, 0, 0, 0);
    border: 2px;
    border-radius: 10px;
    margin: 2%;
    height: 600px;
  }
  .App-header {
    background-color: hsl(0, 0%, 100%);
    width: 85%;
    border: 2px;
    border-radius: 8px;
    padding: 32px 15px 32px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
  .App-logo {
    width: 100%;
    border: 2px;
    border-radius: 8px;
  }
  h1 {
    font-size: 28px;
    text-align: center;
    margin: 15px 0 15px 0;
  }
  p {
    font-size: 14px;
    text-align: center;
  }
}
@media only screen and (min-width: 425px) and (max-width: 768px) {
  .App {
    display: block;
    margin: 10% auto;
    background-color: hsl(212, 45%, 89%);
    width: auto;
    height: 600px;
    position: relative;
    box-shadow:
      0 4px 8px 0 rgba(0, 0, 0, 0.1),
      0 6px 20px 0 rgba(0, 0, 0, 0);
    border: 2px;
    border-radius: 10px;
  }
  .App-header {
    background-color: hsl(0, 0%, 100%);
    width: 200px;
    height: fit-content;
    border: 2px;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
  .App-logo {
    width: 100%;
    border: 2px;
    border-radius: 8px;
  }
  h1 {
    font-size: 15px;
    text-align: center;
    margin: 15px 0 15px 0;
  }
  p {
    font-size: 11px;
    text-align: center;
    margin-bottom: 10px;
  }
}
